* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	background-color: rgb(226, 217, 92);
}

/* rside */

#rside {
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	position: fixed;
	width: 23%;
	background-color: rgb(123, 123, 243);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 6%;
	font-size: xx-large;
}

#rside a {
	width: 80%;
	height: 6%;
	text-align: center;
	background-color: rgba(0, 255, 200, 0.726);
}

#rside a:hover {
	color: rgb(231, 47, 57);
}
#rside img {
	border-radius: 999px;
	width: 80%;
}

#img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#img p {
	margin: 10px;
	font-size: larger;
	font-style: italic;
}

/* main */

#main {
	background-color: rgb(226, 217, 92);
	width: 100%;
}
#main h1 {
	text-align: center;
	padding: 1vh;
	font-style: oblique;
	font-size: 10vh;
}
.main {
	height: 80vh;
	width: 80%;
}

.main2 {
	/* height: 80vh; */
	width: 80%;
}

#about,
#projects,
#contact {
	background-color: rgb(238, 173, 75);
}

#a1 {
	height: 80%;
	width: 100%;
	display: flex;
}

#a11 {
	height: 100%;
	width: 50%;
	padding: 6%;
	font-size: 3vh;
	font-weight: 400;
}

#a12 {
	height: 100%;
	width: 50%;
	text-align: center;
	padding: 2%;
}

#a12 img {
	height: 90%;
	border-radius: 999px;
	border: 3px solid black;
}

#b1 {
	width: 100%;
	height: 70%;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.b1 p {
	font-size: 4vh;
	margin-left: 3%;
}

.b1 h2 {
	font-size: 6vh;
}

#c1 {
	width: 100%;
	height: 70%;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#c1 h2 {
	font-size: 6vh;
}

#c1 ul li {
	font-size: 4vh;
	margin-left: 3%;
	margin-top: 0.4%;
}

#contacts a:link {
	color: red;
}

/* visited link */
a:visited {
	color: rgb(34, 32, 32);
}

/* mouse over link */
a:hover {
	color: rgb(46, 184, 189);
}

/* selected link */
a:active {
	color: blue;
}

#d1 {
	width: 95%;
	height: 70%;
	padding-left: 2%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#d11 {
	height: 70%;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 4vh;
}

#d12 img {
	border-radius: 999px;
	border: 4px solid palevioletred;
}

#e1 {
	width: 100%;
	/* height: 70%; */
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#e1 h2 {
	font-size: 6vh;
	margin: 2rem;
}

#e1 img {
	height: 26rem;
	width: 70%;
	align-self: center;
	margin-bottom: 4rem;
}
